@model IEnumerable<Landing.PL.Areas.Dashboard.ViewModels.ServiceFormVM>

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Services</h1>
					<p><a asp-action="Index" asp-controller="Shop" class="btn btn-secondary me-2">Shop Now</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/images/couch.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row my-5">
			@foreach (var service in Model)
			{
				<div class="col-12 col-md-6 mb-4">
					<div class="feature text-center">
						<div class="icon mb-3">
							<img src="~/files/images/@service.ImageName" alt="Image" class="img-fluid">
						</div>
						<h3>@service.Name</h3>
						<p>@Html.Raw(@service.Description)</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
