@model Landing.PL.Models.ForgetPassword



<div class="login-form">
    <div class="text">Forget Password</div>
    <form asp-controller="Account" asp-action="SendRestPasswordUrl" method="post">
        <div class="field">
            <div class="fas fa-envelope"></div>
            <input type="text" name="Email" placeholder="Email" required>
            <br />
            <div>
            <button type="submit">Send</button>
            </div>
        </div>
    
    </form>
</div>




