@model Landing.PL.Models.ResetPasswordViewModel



<div class="login-form">
    <div>RESET PASSWORD</div>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All" ></div>

            <input type="password" name="NewPassword" placeholder="New Password" required>
    
            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
      
            <input type="email" name="Email" placeholder="Email" required>
     

            <input type="hidden" name="Token" value="@Model.Token"> <!-- Ensure the token is passed -->

        <button type="submit">Save</button>
    </form>
</div>



